.gmaps-GeocoderQuery {
  display: flex;
  flex-direction: column;
  padding: 10%;
  max-width: 400px;
  flex: 1;
}

.gmaps-GeocoderQuery-label {
  padding: 1%;
  margin: 1%;
}

.gmaps-GeocoderQuery-input {
  padding: 1em;
  margin: 1%;
  border: solid 1px;
}

.gmaps-GeocoderQuery-button {
  padding: 1em;
  margin: 1%;
}

